body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url('../imagens/fundo\ alternativo.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    min-width: 100vh;
    
}

.cabecalho {
    text-align: center;
    padding: 100px;
    color: aliceblue;
    font-size: 13px;
    
}



.conteudo-1 { 
    

 display: flex;
 justify-content: center;
 align-items: center;
 
 
 
 
    
 
 
 
 

 
 
   
}

.primeira-imagem { 
    
    width: 1000px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
    
    
    
    
   
    
}


.perfil-1 { 
 
    width: 500px;
    height: 650px;
    padding: 10px;
    box-shadow: rgba(14, 14, 15, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
 
    
    
    

    
    

 
}


    
    

.perfil-1 .descricao .titulo {
    
    font-size: 10px;
    opacity: 0;
    
}

.perfil-1 .descricao .texto { 
    
    
    font-size: 15px;
    padding: 10px;
    max-height: 400px;
    overflow: auto;
    background-color: rgb(51, 50, 50, 0.8);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
    color: rgb(206, 198, 198)

    
}


    

