 @media(max-width: 620px){ 
    .cabecalho{
        padding: 60px 0;
    }

    .conteudo-1{ 
        padding: 0 15px;
        gap: 10px;
    }
    .primeira-imagem{
        height: 800px;
        
    }
 }