 @media(max-width: 620px){
    
    
    
    
    .cabecalho{

        
        padding: 100px 0
    }

    .conteudo-1{
        
        
        
        justify-content: center;
        align-items: baseline;
        padding: 0 30px;
        gap: 10px;
        
    }
    .primeira-imagem{ 

        justify-content: center;
        align-items: center;
        
        
    }
    
    
 }